html{
    scroll-behavior: smooth;
}

body{
  font-size: 1.25em;
  font-family: pt-sans-pro, "Avante Garde Gothic", sans-serif;
  font-weight: 300;
  font-style: normal;
  background-color: #fff;
  line-height: 30px;
}

h1, h2 {
    color: #333;
    font-family: pt-sans-pro, "Avante Garde Gothic", sans-serif;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5em;
    letter-spacing: 1.5px;
}

p {
    color: #404040;
}

nav {
    display: flex;
    flex-direction: column;
}

#full-screen-nav {
    display: none;
}

.skip a {
    display: none;
}

.mia{
    font-size: 2.25em;
    margin-top: 20px;
    font-family: bely-display, "Trirong", serif;
    background-color: #ffff00;
    color: #333;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

/* NAV BAR CSS */

nav ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

nav li {
    padding-top: 10px;
}

nav a {
    color: #333;
    text-decoration: none; 
    padding-left: 10px;
    padding-right: 10px;
}
  
nav a:hover {
    background-color: #ffff00;
    color: #333;
}

.menu-bar .current {
    color: #ffff00;
    background-color: #333;
    text-decoration: underline;
}

.navbar-toggler {
    margin-top: 10px;
    background-color: #ffff00
}

.navbar-collapse {
    padding-left: 20px;
    padding-right: 20px;
}

/* HOMEPAGE CSS */

#main {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-left: 30px;
    margin-right: 30px;
}

.gallery-text {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 7px;
    margin-left: 30px;
    margin-right: 30px;
}

.projectgrid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 30px;
}

.gallery img {
    border-radius: 20px;
    margin: 1px;
    width: 250px;
}

.dp1-grid-item {
    position: relative;
    text-align: center;
    padding: 0.75%;
    margin-bottom: 15px;
  }

#dp1-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #333;
    font-size: 1.4em;
    background-color: rgba(255, 255, 0, 1);
    padding-top: 2px;
    padding-bottom: 2px;
    width: 250px;
}
  
.dp1-grid-item:hover{
    transform: scale(1.05); 
    transition-duration: .4s;
    background-color: rgba(255, 255, 0, 1);
    box-shadow: 2px 8px 16px 2px rgba(255, 255, 0, 1);
    border-radius: 20px;
}

.ghp-grid-item {
    position: relative;
    text-align: center;
    padding: 0.75%;
  }

#ghp-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #333;
    font-size: 1.4em;
    background-color: rgba(255, 255, 0, 1);
    padding-top: 2px;
    padding-bottom: 2px;
    width: 250px;
}
  
.ghp-grid-item:hover{
    transform: scale(1.05); 
    transition-duration: .4s;
    background-color: rgba(255, 255, 0, 1);
    box-shadow: 2px 8px 16px 2px rgba(255, 255, 0, 1);
    border-radius: 20px;
}

.dp2-grid-item {
    position: relative;
    text-align: center;
    padding: 0.75%;
  }

#dp2-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-decoration: none;
    color: #333;
    font-size: 1.4em;
    background-color: rgba(255, 255, 0, 0.85);
    padding-top: 3px;
    padding-bottom: 3px;
    width: 300px;
}
  
.dp2-grid-item:hover{
    transform: scale(1.05); 
    transition-duration: .4s;
    background-color: rgba(255, 255, 0, 1);
    box-shadow: 2px 8px 16px 2px rgba(255, 255, 0, 1);
    border-radius: 20px;
}

/* ABOUT PAGE CSS */

.headshot{
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    width: 275px;
    margin: auto;
}

#bighousefriends {
    display: none;
}

.about {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-left: 30px;
    margin-right: 20px;
    line-height: 1.5em;
}

.about h1{
    margin-top: 10px;
    font-size: 2rem;
}

.courses {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 20px;
    margin-top: 15px;
}

.courses h2 {
    margin-bottom: 5px;
    font-size: 1em;
    font-weight: bold;
}

.umsi-courses {
    margin-top: 20px;
    margin-bottom: -15px;
}

.courses li {
    margin-left: 20px;
}

.courses li a {
    color: #333;
    text-decoration: none;
}

.courses ul li a:hover {
    background-color: #ffff00;
    color: #333;
    padding-right: 30px;
    text-decoration-line: underline;
}

#si-one:hover {
    padding-right: 6.5px;
}

.courses li a:visited {
    color: #333;
}

.connect-area h2 {
    font-size: 1em;
    font-weight: bold;
}

.connect-area p, .connect-area a {
    color: #333;
    text-decoration-line: none;
    font-size: .9em;
}

.connect-area p a:hover {
    background-color: #ffff00;
    color: #333;
    padding-right: 35px;
    text-decoration-line: underline;
}

.connect-area a:visited {
    color: #333;
}

.connect-area {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 30px;
    padding-top: 15px;
    padding-left: 10px;
    border: 7px solid;
    border-image: linear-gradient(45deg, #ffff00, rgb(255, 222, 9)) 1;
}

/* RESUME PAGE CSS */

.resume h1 {
    margin-top: 10px;
    font-size: 1.2em;
    text-align: center;
    font-weight: 400;
}

.resume p {
    text-align: center;
    font-size: 1em;
    margin-left: 30px;
    margin-right: 30px;
}

.resume-container img {
    width: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
    margin-bottom: 50px;
    margin-top: 20px;
    border: 4px solid;
    border-image: linear-gradient(45deg, #ffff00, rgb(255, 222, 9)) 1;
}

/* DP1 PAGE CSS */

#HL-main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#HL-main h1 {
    margin-bottom: 15px;
    margin-top: 15px;
    font-size: 2em;
}

#HL-main h2 {
    font-size: 1.10em;
    margin-bottom: 15px;
}

.HL-container h3 {
    font-size: 1.10em;
}

#HL-main h1, #HL-main h2 {
    margin-right: 25px;
    margin-left: 25px;
    font-style: normal;
    text-align: center;
}

#HL-main img {
    border-radius: 20px;
    margin: auto;
    width: 300px;
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .HLPrototpyeWide {
    display: none;
} */

.HL-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 10px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.HL-description-description h3{
    padding-top: 10px;
}

.line-break-page-mobile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}

.line-break-page-desktop {
    display: none;
}

.dp1sketches-description p{
    padding-top: 12px;
    margin-left: 45px;
    margin-right: 45px;
}

.dp1sketches-description h3 {
    margin-left: 45px;
}

.dp1-images {
    display: grid;
    object-fit:contain;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    margin-left: 40px;
}

.dp1sketches-img {
    width: 150px;
}

.dp1wireframing-description p {
    margin-top: 12px;
    padding-bottom: 15px;
    margin-left: 45px;
    margin-right: 40px;
}

.dp1wireframing-description h3 {
    margin-top: 10px;
    margin-left: 45px;
}

.dp1wireframing-description img {
    width: 150px;
    border: 2px solid #333;
    border-radius: 15px;
}

.dp1wireframes-feed {
    margin-left: 35px;
    margin-bottom: 50px;
}

.dp1wireframes-login {
    margin-left: 10px;
    margin-bottom: 50px;
}

/* .dp1-prototype p {
    padding-top: 12px;
    padding-bottom: 20px;
    margin-left: 40px;
    margin-right: 30px;
}

.dp1-prototype h3 {
    padding-left: 40px;
}

.dp1-figma-prototype {
    border: 4px solid #333;
    border-radius: 20px;
    width: 200px;
    height: 450px;
    margin-left: 65px;
    margin-top: 15px;
    margin-bottom: 40px;
} */

/* GHP PAGE CSS */

#GHP-main {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}

#GHP-main h1 {
    font-size: .75em;
    text-align: center;
    font-weight: bold;
}

#GHP-logo {
    margin: 10px;
    width: 100px;
}

.GHP-container h3 {
    font-size: 1.10em;
}

#GHP-main h2 {
    font-size: 1em;
    font-style: normal;
    text-align: center;
    margin-left: 30px;
    margin-right: 30px;
}

#GHP-main img {
    border-radius: 20px;
    margin: auto;
    width: 300px;
    /* padding: 5px; */
    margin-top: 10px;
    margin-bottom: 10px;
}

/* .GHPSiteWide {
    display: none;
} */

.GHP-description {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 12px;
    margin: auto;
    margin-left: 40px;
    margin-right: 40px;
}

.GHP-description-description h3{
    padding-top: 10px;
}

.GHP-description div {
    padding-bottom: 3px;
}

.GHP-temporary-links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-left: 45px;
    margin-right: 30px;
    color: #333;
}

.GHP-temporary-links a {
    color: #333;
}

.GHP-temporary-links a:visited {
  color: #333;
}

.GHP-temporary-links-new {
    margin-top: 15px;
}

.GHP-logo-before-and-after {
    margin-bottom: 20px;
    margin-left: 40px;
    margin-right: 30px;
}

.GHP-logo-before-and-after h3 {
    margin-bottom: 5px;
}

.GHP-logo-old-img, .GHP-logo-new-img {
    width: 250px;
    padding: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
}

.GHP-logos p {
    font-size: .85em;
    font-weight: 500;
    text-align: center;
}

.GHP-logos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.GHP-logos-old {
    padding: 20px;
    border: 7px solid;
    border-image: linear-gradient(45deg, #ffff00, rgb(255, 222, 9)) 1;
    margin-top: 15px;
    margin-bottom: 15px;
}

.GHP-logos-new {
    padding: 20px;
    border: 7px solid;
    border-image: linear-gradient(45deg, #ffff00, rgb(255, 222, 9)) 1;
    margin-bottom: 15px;
}

/* FOOTER CSS */

footer {
    background-color: #ffff00;
    color: #333;
    font-weight: bolder;
    font-size: 1em;
    padding: 15px;
    text-align: center;
    bottom: 0px;
    left: 0px;
    right: 0px;
}
.socials img{
    width: 39px; 
    height: 39px; 
    object-fit: cover;
}

@media only screen and (min-width: 768px){
    #mobile-screen-nav {
        display: none;
    }

    #full-screen-nav {
        display: block;
    }

    .mia {
        background-color: #CEE7E6;
        padding-left: 5em;
        padding-right: 5em;
        margin-bottom: 5px;
    }
    
    .mia:hover {
        color: #333;
        margin-bottom: 10px;
        transform: scale(1.04);
        transition-duration: 250ms;
    }

    /* NAV BAR CSS */
    nav a:hover {
        background-color: #CEE7E6;
        color: #333;
    }

    /* Dropdown Button */
    .dropbtn {
        background-color: #fff;
        color: #333;
        padding-left: 15px;
        padding-right: 15px;
        border: none;
    }
    
    /* The container <div> - needed to position the dropdown content */
    .dropdown {
        position: relative;
        display: inline-block;
    }
    
    /* Dropdown Content (Hidden by Default) */
    .dropdown-content {
        display: none;
        position: absolute;
        background-color: #fff;
        min-width: 300px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }
    
    /* Links inside the dropdown */
    .dropdown-content a {
        color: #333;
        padding: 5px 15px;
        text-decoration: none;
        display: block;
    }
    
    /* Change color of dropdown links on hover */
    .dropdown-content a:hover {
        background-color: #CEE7E6;
        color: #333;
        text-decoration: underline;
    }
    
    /* Show the dropdown menu on hover */
    .dropdown:hover .dropdown-content {
        display: block;
    }
    
    /* Change the background color of the dropdown button when the dropdown content is shown */
    .dropdown:hover .dropbtn {
        background-color: #CEE7E6;
        text-decoration: underline;
    }

    #full-screen-nav .current {
        color: #CEE7E6;
        background-color: #333;
        text-decoration: underline;
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 1px;
        padding-bottom: 1px;
    }

    nav ul {
        flex-direction: row;
        gap: 40px;
    }

    nav a:active {
        background-color: #CEE7E6;
        text-decoration: underline;
    } 

    navbar-toggler {
        display: none;
    }

    /* SKIP TO CONTENT CSS */
    .skip a{
        display: block;
        color: #333;       
        left: 0;
        padding: 6px;
        -webkit-transition: top 1s ease-out;
        transition: top 1s ease-out;
        z-index: 1;
        position: absolute;
        top: -40px;
    }
    
    .skip a:focus{
        top: 0;
    }

    /* HOMEPAGE CSS */

    .projectgrid {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 9px;
    }

    .dp1-grid-item {
        margin-bottom: 0px;
    }

    #dp1-text {
        background-color: #CEE7E6;
    }
      
    .dp1-grid-item:hover{
        background-color: #ffff00;
        box-shadow: 2px 8px 16px 2px rgba(255, 255, 0, 1);
    }

    #ghp-text {
        background-color: #CEE7E6;
    }
      
    .ghp-grid-item:hover{
        background-color: #ffff00;
        box-shadow: 2px 8px 16px 2px rgba(255, 255, 0, 1);
    }

    #dp2-text {
        background-color: #CEE7E6;
    }
      
    .dp2-grid-item:hover{
        background-color: #ffff00;
        box-shadow: 2px 8px 16px 2px rgba(255, 255, 0, 1);
    }

    /* ABOUT PAGE CSS */
    
    .about h1 {
        margin-top: 10px;
    }

    .about-container {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .about h1, .about-ipad {
        grid-column: 1 / 2;
    }

    .headshot {
        grid-column: 2 / 2;
        margin-top: 65px;
        width: 300px;
    }

    #bighousefriends {
        display: inline;
        position: absolute;
        width: 300px;
        border-radius: 20px;
        margin-left: 368px;
        margin-top: 540px;
    }

    .courses {
        grid-column: 1 / 3;
    }
    
    .courses ul li a:hover {
        background-color: #CEE7E6;
    }

    .connect-area {
        margin-left: 100px;
        margin-right: 100px;
        padding-left: 30px;
        padding-top: 25px;
        margin-bottom: 50px;
        margin-top: 0px;
    } 

    /* RESUME PAGE CSS */

    .resume h1 {
        margin-top: 30px;
    }

    .resume-container img {
        width: 500px;
        border: 7px solid;
        border-image: linear-gradient(45deg, #ffff00, rgb(255, 222, 9)) 1;
    }

    .resume-container img:hover {
        transform: scale(1.03); 
        transition-duration: .4s;
        box-shadow: 4px 10px 20px 4px rgba(255, 255, 0, 1);
        border-radius: 20px;
    }

    /* DP1 PAGE CSS */

    #HL-main h2 {
        text-align: center;
        margin-left: 130px;
        margin-right: 130px;
    }

    /* .HLPrototpyeNormal {
        display: none;
    }

    .HLPrototpyeWide {
        display: inline;
    } */

    #HL-main img:hover{
        transform: scale(1.05); 
        transition-duration: .4s;
        background-color: rgba(255, 255, 0, 1);
        box-shadow: 2px 8px 16px 2px rgba(255, 255, 0, 1);
        border-radius: 20px;
    }

    .HL-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        text-align: left;
        margin-left: 100px;
        margin-right: 100px;
    }
    
    .dp1sketches-description p{
        padding-top: 2px;
        margin-left: 100px;
        margin-right: 120px;
        margin-bottom: 10px;
    }
    
    .dp1sketches-description h3 {
        margin-left: 100px;
        margin-top: 25px;
    }
    
    .dp1-images {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        margin-left: 150px;
        margin-right: 150px;
    }

    .dp1sketches-search {
        margin-top: -20px;
        margin-left: 30px;
    }

    .dp1sketches-message {
        margin-left: 10px;
    }

    .dp1wireframing-description {
        margin-left: 50px;
        margin-right: 80px;
    }

    .dp1wireframes-img {
        width: 200px;
    }

    .dp1wireframes-feed {
        margin-left: 150px;
        margin-right: 30px;
    }

    /* .dp1-figma-prototype {
        width: 350px;
        height: 650px;
        margin-left: 25%;
        margin-right: 25%;
    }

    .dp1-prototype h3 {
        margin-top: 25px;
        margin-left: 60px;
    }

    .dp1-prototype p {
        margin-left: 100px;
        margin-right: 100px;
    } */


    /* GHP PAGE CSS */

    #GHP-main h2 {
        text-align: center;
        margin-left: 120px;
        margin-right: 120px;
    }

    /* .GHPSiteNormal {
        display: none;
    }

    .GHPSiteWide {
        display: inline;
    } */

    .GHP-description {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: baseline;
        flex-wrap: wrap;
        text-align: left;
        margin-left: 100px;
        margin-right: 100px;
    }

    .GHP-logo-before-and-after h3, 
    .GHP-logo-before-and-after p {
        margin-left: 60px;
    }

    .GHP-logos img{
        display: flex;
        flex-direction: row;
        gap: 40px;
        width: 350px;
    }

    .GHP-temporary-links-old {
        margin-bottom: 15px;
    }

    footer {
        background-color: #CEE7E6;
    }

}

@media only screen and (min-width: 1024px){
    /* ABOUT PAGE CSS */
    #bighousefriends {
        margin-left: 548px;
    }

    .umsi-courses {
        margin-right: 400px;
    }
    
    .lsa-courses {
        position: absolute;
        margin-left: 520px;
        margin-right: 80px;
        margin-top: 15px;
    }

    .connect-area {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding-bottom: 10px;
        margin-left: 235px;
        margin-right: 235px;
    }

    .connect-area h2 {
        font-size: 1.2em;
    }

    .connect-area p {
        font-size: 1.05em;
    }

    /* DP1 PAGE CSS */

    .dp1-skills {
        position: absolute;
        margin-left: 450px;
        margin-right: 100px;
        margin-top: -375px;
    }

    .dp1-images {
        margin-left: 200px;
        margin-right: 200px;
    }
}


@media (prefers-reduced-motion) { 
    .mia:hover {
        transform: none;
        margin-bottom: 5px;
    }

    .dp1-grid-item:hover {
        transform: none;
    }

    .ghp-grid-item:hover {
        transform: none;
    }

    .dp2-grid-item:hover {
        transform: none;
    }
}


